# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# build output
/.next/
/dist/
/site/
/src-tauri/target/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma

/legacy/python_backend/*.txt
/legacy/python_backend/*.bin
/legacy/python_backend/*.Bin
/legacy/python_backend/*.org
/legacy/python_backend/*.ori
/legacy/python_backend/*.csv
/legacy/python_backend/modules/*
